-
  var text =
      {
        title: 'みんニャでかんたんBINGO',
        desc: 'ゲーム画面です',
        doSlot: 'スロットまわす',
        doShout: 'ビンゴさけぶ',
        doExit: 'やめる'
      }

doctype html

html(lang="ja")
  head
    meta(charset="UTF-8")
    title #{text.desc} | #{text.title}
    meta(
      name="description"
      content=desc
    )
    meta(
      name="viewport"
      content="width=device-width,initial-scale=1"
    )
    link(
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:400,700,800"
    )
    link(
      rel="stylesheet"
      type="text/css"
      href="../style/game.sass"
    )

  body.body.game
    main.main
      h1.headline: img(src="../img/logo.png", alt=text.title)

      section.history
        button.buttonPrimary= text.doSlot

        .history__newone
          p
            span \NEW/
            span 99

        - var n = 0
        ul.history__list
          while n <= 30
           li= n++

      section
        button.buttonSecondary= text.doShout

      section
        button.buttonPrimary= text.doExit
      //- p.note #{text.desc}
      //- img(src="../img/cat01.png", alt="cat01")
    //- include include/block/footer.pug

  //- script(src="../javascript/main.js")
