-
  var text =
      {
        title: 'みんニャでかんたんBINGO',
        desc: 'ゲーム画面です',
        doSlot: 'スロットまわす',
        doShout: 'ビンゴさけぶ',
        doExit: 'やめる',
        copy: '&copy; team BINGO !!'
      }

doctype html

html(lang="ja")
  head
    meta(charset="UTF-8")
    title #{text.desc} | #{text.title}
    meta(
      name="description"
      content=desc
    )
    meta(
      name="viewport"
      content="width=device-width,initial-scale=1"
    )
    link(
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:400,700,800"
    )
    link(
      rel="stylesheet"
      type="text/css"
      href="../style/game.sass"
    )

  body.body.game
    main#main.main
      h1.headline: img(src="../img/logo.png", alt=text.title)

      section.history
        button.buttonPrimary= text.doSlot

        .history__newone
          p
            span \NEW/
            span 99

        - var n = 0
        ul.history__list
          while n <= 30
           li= n++

      section.post
        p.post__note
         | 5つの数字がそろったら
         b ビンゴさけぶ
         | ボタンを押して
         b ビンゴをさけんでください
         | ニャ
        button.buttonSecondary= text.doShout

      section.member
        each name in [17, 16, 18, 19, 8, 1, 44]
          case name
            when 16
              .member__item.is-1st
                h3 参加者 #{name}
                ul
                  each val in [1, 88, 3, 7, 5]
                    li= val
            when 18
              .member__item.is-2nd
                h3 参加者 #{name}
                ul
                  each val in [1, 88, 3, 7, 5]
                    li= val
            when 1
              .member__item.is-10th
                h3 参加者 #{name}
                ul
                  each val in [1, 88, 3, 7, 5]
                    li= val
            default
              .member__item
                h3 参加者 #{name}
                ul
                  each val in [1, 88, 3, 7, 5]
                    li= val

    footer.footer
      button.buttonPrimary= text.doExit
      .footer__deco
        button.footer__tree01
        button.footer__house01
        button.footer__house02
        button.footer__house03
        button.footer__house04
        button.footer__house05
        button.footer__house06
        button.footer__tree02
        a.footer__alpaca(href="#main")
      p.footer__copy!= text.copy

    //- include include/block/footer.pug

  //- script(src="../javascript/main.js")
